<!--
template.html

Note:
This HTML file (template-MQTT.html) and the corresponding JS file (template-MQTT.js) are based on the following pages.

  Weekly Ascii No.1xxx pp.yy-zz ...
  https://...
-->

<!-- Last updated: 20yy-mm-dd -->

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <title>テンプレート</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
    <script src="template-MQTT.js"></script>
  </head>
  <body onload="init()">
    <p>テンプレート</p>
    <canvas id="myCanvas"></canvas>
  </body>
</html>
